.container
{ width: 960px; margin: 0 auto; padding: 0; }

#localMasthead
{ height: 195px; background: url(../img/header.png) no-repeat; margin-top: 0; margin: 0; }

#localMasthead h1 a
{ color: #fff; padding: 10px; display: block; font-size: 1.1em; letter-spacing: 0em; margin: 40px 0 0 20px; display: none; margin: 0; }

#sidebar
{ width: 336px; }

h4
{ padding: 15px 0 0 0; display: block; }

.feature
{ margin: 0 0 15px 16px;  }

.first
{ margin: 0; }

.carousel
{ background: url('../img/big1.png') no-repeat left top;    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; width: 100%; min-height: 300px; }

